.sentence-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sentence-beginning {
    position: absolute;
    margin-left: -20%;
    font-size: 40px;
}

.hobby {
    width: 100%;
    margin-left: 27%;
    font-size: 40px;
}

.hobby-list {
    transform: translate(0, 45px);
    animation: scroll 5s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translate(0, 90px);
    }
    25% {
        transform: translate(0, 45px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(0, -45px);
    }
    100% {
        transform: translate(0, -90px);
    }
}

.hobby-list .hobby:nth-child(1) {
    animation: color-change-1 5s ease infinite;
}

.hobby-list .hobby:nth-child(2) {
    animation: color-change-2 5s ease infinite;
}

.hobby-list .hobby:nth-child(3) {
    animation: color-change-3 5s ease infinite;
}

@keyframes color-change-1 {
    0% {
        opacity:0;
    }
    25% {
        opacity:1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

@keyframes color-change-2 {
    0% {
        opacity:0;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

@keyframes color-change-3 {
    0% {
        opacity:0;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
