.sentence-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sentence-beginning {
    position: absolute;
    margin-left: -20%;
    font-size: 40px;
}

.hobby {
    width: 100%;
    margin-left: 27%;
    font-size: 40px;
}

.hobby-list {
    transform: translate(0, 45px);
    animation: scroll 5s ease infinite;
}

@keyframes scroll {
    10% {
        transform: translate(0, 45px);
    }
    40% {
        transform: translate(0,0px);
    }
    70% {
        transform: translate(0,-45px);
    }
    100% {
        transform: translate(0,45px);
    }
}

.hobby-list .hobby:nth-child(1) {
    animation: color-change-1 5s ease infinite;
}

.hobby-list .hobby:nth-child(2) {
    animation: color-change-2 5s ease infinite;
}

.hobby-list .hobby:nth-child(3) {
    animation: color-change-3 5s ease infinite;
}

@keyframes color-change-1 {
    0% {
        color:red;
    }
    10% {
        color: red;
    }
    40% {
        color:white;
    }
    70% {
        color:white;
    }
    100% {
        color:red;
    }
}

@keyframes color-change-2 {
    0% {
        color:white;
    }
    10% {
        color:white;
    }
    40% {
        color:green;
    }
    70% {
        color:white;
    }
    100% {
        color:white;
    }
}

@keyframes color-change-3 {
    0% {
        color:white;
    }
    10% {
        color:white;
    }
    40% {
        color:white;
    }
    70% {
        color:yellow;
    }
    100% {
        color:white;
    }
}
